<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs', { title: 'Dashboard', link: 'https://leads-track.onrender.com/dashboard' }) %>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <!-- LEADS TABLE -->
      <div class="container-fluid px-md-5 pb-5">
        <h1 class="text-center text-white my-5">Leads Track</h1>
        <div class="d-flex justify-content-between mb-3">
          <a href="/dashboard/addLeadForm" class="text-white btn btn-dark">Add Lead</a>
          <a href="/auth/logout" class="text-white btn btn-dark">Logout</a>
        </div>
        <div class="table-responsive-xl">
          <table class="table text-center align-middle w-100">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Industry</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col" class="w-25">Notes</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <% leads.forEach((lead, index) =>{%>
                <tr class="border lead-details <%= lead.status %>" data-id="<%= lead._id %>">
                  <th scope="row"><%= index + 1 %></th>
                  <th><%= lead.name %></th>
                  <th><%= lead.industry %></th>
                  <th><%= lead.phone %></th>
                  <th><%= lead.email %></th>
                  <th class="text-wrap"><%= lead.notes %></th>
                  <th>
                    <form action="/dashboard/updateStatus/<%= lead._id %>" method="POST" class="d-inline">
                      <input type="hidden" name="_method" value="PUT">
                      <select name="status" class="form-select" onchange="this.form.submit()">
                        <option value="new" <%= lead.status === 'new' ? 'selected' : '' %>>New</option>
                        <option value="contacted" <%= lead.status === 'contacted' ? 'selected' : '' %>>Contacted</option>
                        <option value="pending" <%= lead.status === 'pending' ? 'selected' : '' %>>Pending</option>
                        <option value="closed" <%= lead.status === 'closed' ? 'selected' : '' %>>Closed</option>
                      </select>
                    </form>
                  </th>
                  <th>
                    <form action="/dashboard/deleteLead/<%= lead._id %>" method="POST" class="d-inline">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-light">
                        <i class="bi bi-trash"></i>
                      </button>
                    </form>
                  </th>
                  <th>
                    <a href="/dashboard/editLeadForm/<%= lead._id %>"><i class="bi bi-pencil-square btn btn-light"></i></a>
                  </th>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- FOOTER -->
      <%- include('partials/footer.ejs') %>
    </div>
    <script src='js/main.js'></script>
  </body>
</html>
