<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    
    <div class="container-fluid px-md-5">
      <h1 class="text-center my-5">Leads Track</h1>

      <div class="row">
        <!-- Leads Form -->
        <div class="col-md-2">
          <h2>Add a new lead</h2>
          <form action="/leads" method="post">
            <div class="mb-2">
              <label class="p-2 fw-bold" for="leadName">Name:</label>
              <input type="text" class="form-control" placeholder="Enter lead name" name="name" required>
            </div>
            <div class="mb-2">
              <label class="p-2 fw-bold" for="leadIndustry">Industry:</label>
              <input type="text" class="form-control" placeholder="Enter industry" name="industry" required>
            </div>
            <div class="mb-2">
              <label class="p-2 fw-bold" for="leadPhone">Phone:</label>
              <input type="number" class="form-control" placeholder="Enter phone number" name="phone" required>
            </div>
            <div class="mb-2">
              <label class="p-2 fw-bold" for="leadEmail">Email:</label>
              <input type="email" class="form-control" placeholder="Enter email" name="email" required>
            </div>
            <div class="mb-2">
              <label class="p-2 fw-bold" for="leadNotes">Notes:</label>
              <textarea class="form-control" rows="3" placeholder="Enter additional notes" name="notes"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Add Lead</button>
          </form>
        </div>
        <!-- Table with Leads -->
        <div class="col-md-10 mt-5 mt-md-0">
          <h2>Leads Details</h2>
          <div class="table-responsive-md">
            <table class="table table-striped text-center align-middle">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Industry</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col" class="w-25">Notes</th>
                  <th scope="col">Contacted</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% leads.forEach((lead, index) =>{%>
                  <!-- ObjectId stored in parent attribute-->
                  <tr class="border leads-details" data-id="<%= lead._id %>">
                    <td scope="row"><%= index + 1 %></td>
                    <td><%= lead.name %></td>
                    <td><%= lead.industry %></td>
                    <td><%= lead.phone %></td>
                    <td><%= lead.email %></td>
                    <td class="text-wrap"><%= lead.notes %></td>
                    <% if(lead.contacted === 'yes') { %>
                      <td class="contacted text-wrap"><i class="bi bi-check2-circle"></i></td>
                    <% } else{ %>
                      <td class="notContacted text-wrap"><i class="bi bi-circle"></i></td>
                    <% } %>
                    <td class="deleteBtn text-wrap"><i class="bi bi-trash"></i></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>  
    <script src='js/main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
